@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

@font-face {
    font-family: 'Regular';
    src: url('../fonts/Bagnard/Bagnard.otf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Sans';
    src: url('../fonts/Bagnard/BagnardSans.otf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}



/* VARIABLES */

:root {
  /* Color settings */
  --color-background: rgba(255,255,255,1);
  --color-text: rgba(0,0,0,1);
  --color-text-link: rgba(0,160,2,0.8);
  --color-text-link-hover: rgba(0,160,2,0.4);
  /* Font settings */
  --font-family: 'Sans', sans-serif;
  --font-size: 24px;
  /* Margins settings */
  --margin: 1rem;
}



/* GENERAL STYLES */

html {
  /* background: linear-gradient(to bottom, green 0%, white 25vh); */
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
  scroll-behavior: smooth;
}

body {
  position:relative;
  /* background-color: var(--color-background); */
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width:100%;
  height:100%;
  overflow-y:auto;

}

a{
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

a:active {
  color:black;
}

a:focus-visible {
  color: var(--color-text-link-hover);
  text-decoration: none;
}

.link-opens-chapter{
 /* padding-bottom: 20%; */
 display: inline-block;
}

.extra-links .link-opens-chapter{
  /* padding-top: 20%; */
}

.intro{
  margin: 0%;
}

.start{
  margin-top: var(--margin);
  text-align: center;
}

h1{
  /* color: white; */
  color: var(--color-text-link);
  padding-top: 0%;
  padding-left: 7.5%;
  padding-right: 15%;
  padding-bottom: 0;
  font-family: 'Regular', Serif;
  /* h1 style */

}

h2{
  color: var(--color-text-link);
  font-family: 'Regular', Serif;
  /* h2 style */
}

h3{
  /* h3 style */
}

h4, h5, h6{
  /* h4-h5-h6 style */
}

p{
  /* paragraph style */
}

ol, ul{
  /* ordered list and unordered list styles */
}

blockquote{
  /* blockquote element style */
}

hr{
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

.container{
  display: inline-flex;
  flex-flow: column wrap;
}

/* navigation */

header{

}

header h1{
  width: 25vw;
}

footer{
  padding-top: 20%;
}

nav{

}

/* content */

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align:start;
  padding-left:25%;
  padding-right:25%;
  box-sizing: content-box;
}

section{
  position: relative;
  float: left;
  width:100%;
}

details > summary {
  color: var(--color-text-link);
  cursor: pointer;
}

details > summary:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

details > summary:active{
  color:black;
}

details[open] > summary{
  color: var(--color-text-link-hover);
}

details > p {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;

}


/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.hidden{
  display: none;
}

/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}






/* MEDIA QUERIES */

@media (orientation: portrait) {
  main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:start;
    padding-left:5%;
    padding-right:5%;
    box-sizing: content-box;
  }

  header h1{
    width: 69vw;
  }

}

/* responsive typeface */

@media (max-width: 298px) {
  :root{ --font-size: 15px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 299px) and (max-width: 339px) {
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 340px) and (max-width: 439px) {
  :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 440px) and (max-width: 599px) {
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 600px) and (max-width: 779px) {
  :root{ --font-size: 19px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 780px) and (max-width: 992px) {
  :root{ --font-size: 20px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 993px) and (max-width: 1200px) {
  :root{ --font-size: 22px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1201px) and (max-width: 1319px) {
  :root{ --font-size: 24px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1320px) and (max-width: 1619px) {
  :root{ --font-size: 26px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1620px) and (max-width: 1879px) {
  :root{ --font-size: 28px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1880px) {
  :root{ --font-size: 30px; } html, body {font: var(--font-size) var(--font-family);}
}



/* website media queries */

@media (max-width: 779px) {

  /* styles for screen sizes 779px, should covers 'mobile' and 'tablet' */
  /* style this one first and then use the two others to 'override' some styles (exceptions/details) */






  /* utilities */

  .desktop{display:none!important;}
  .mobile{display:block;}

}



@media (max-width: 391px) {
  main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:start;
    padding-left:5%;
    padding-right:5%;
    box-sizing: content-box;
  }

  /* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

}



@media (max-width: 779px) and (orientation: landscape) {
  main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:start;
    padding-left:25%;
    padding-right:25%;
    box-sizing: content-box;
  }

  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

}



@media (min-width: 780px) and (max-width: 992px) {

  /* use this query to apply style for 'small' desktop screens */

}
